{% extends 'base.html' %}

{% block content %}
        <div class="bx--grid">
          <div class="bx--row">
                <div class="bx--col-xs-0 bx--col-md-3">
                </div>
                <div class="bx--col-xs-12 bx--col-md-6">
                </div>
          </div>
          <div class="bx--row">
                <div class="bx--col-xs-0 bx--col-md-3">
                </div>
                <div class="bx--col-xs-12 bx--col-md-6">

                  <div class="bx--module bx--module--double">
                    <div class="bx--module__inner">
                      <div class="bx--module__header">
                        <p class="bx--module__title bx--type-alpha">{{ exercise.title }} {{ exercise.link }}</p>
                      </div>
                      <div class="bx--module__content">
                        <div class="bx--grid">
                        <div class="bx--row">
                              <div class="bx--col-xs-12">
                                <p>
                                  Start project
                                </p>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>

                </div>
          </div>
        </div>

{% endblock %}
